.scroll-top {
    display: none;
    width: 50px;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 1000;
    img {
        object-fit: cover;
    }
    @media (max-width: 767px) {
        display: block;
    }
}
